/*TailwindCSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: hsl(7, 99%, 98%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: hsl(0, 0%, 100%);
}


h1 {
    font-family: 'Fraunces', serif;
    font-size: 56px;
}

h2 {
    font-size: 24px;
    font-family: 'Fraunces', serif;
}

p {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

section div { 
    width: 100%;
    height: 700px;
}
.div2 {
    background: url(images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.div3 {
    background: url(images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.div5 {
    background: url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}


.div6 {
    background: url(images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.testimonials {
    width: 75%;
}

footer {
    background-color: hsl(168, 34%, 50%);
}

.social-links img {
    margin: 10px;
}